@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin';
    background-color: #e3e4dc;
}

h3{
    color: #dde4e1;
}
#tentacles {
    width: 70px;
}

h2{
    padding-left: 20px;
}

#description-container{
    padding-left: 20px;
}

.game-btn{
    background-color: #32475b;
    color: #f4f6f4;
}

.header{
    display: flex;
    align-items: center;
    background-color: #32475b;
    padding: 1%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.header-text1{
    color: white;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 5%;
}


.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover{    
    cursor: pointer;
    box-shadow: 0 0 30px #4a4a48;
}

.stats-card {
    background-color: #32475b;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
    color: #f4f6f4;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #4a4a48;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
    box-shadow: 4px 3.5px #4177a3;
}

#search-container {
    display: flex;
    align-items: center;
    /* margin-top: 20px;
    padding-left: 20px; /* Adds padding on the right */
    padding: 2em;
}

search-container:focus:hover{
    box-shadow: 3px 3px rgb(44, 43, 43);;
}

#search-input {
    border: none;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 30%;
}

